/* global styles for orgchart */
.orgchart-container {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  height: 700px;
  background-color: #fff;
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

.orgchart {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 0%), linear-gradient(rgba(200, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 0%);
  background-size: 10px 10px;
  border: 1px dashed rgba(0,0,0,0);
  padding: 20px 20px 0 20px;
}

.orgchart-container .hidden {
  display: none!important;
}

.orgchart-container > .oc-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.orgchart-container > .oc-mask .spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.orgchart-container > .oc-mask .spinner::before {
  width: 100px;
  height: 100px;
  border-width: 10px;
  border-radius: 50px;
  border-top-color: rgba(68, 157, 68, 0.8);
  border-bottom-color: rgba(68, 157, 68, 0.8);
  border-left-color: rgba(68, 157, 68, 0.8);
}

.boxtopleft{
/* position: absolute;
z-index: 10;
top:0px;
left: 0px; */

box-sizing: border-box;
border: solid 0px blue;
align-items: center;
width: 150px;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.boxtopright{
  /* position: absolute;
  z-index: 10; */
  top:0px;
  right:0px;
  box-sizing: border-box;
  display: block;
  border: solid 0px blue;
  width: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ulclass{

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.partOne{
  border: solid 0px red;
 width: 150px;
 height: 100px;
}

.partTow{
 border: solid 0px red;
 width: 150px;
 height: 100px;
 
}

.partThird{
  border: solid 0px red;
  width: 150px;
  height: 50px;
  margin: 0;
 background-position: right bottom,left top;


 background-repeat: no-repeat;
 background-size: 150px 45px;
 background-image: url("./header_logo1.png");
}

.partFour{
  border: solid 0px red;
  width: 150px;
  height: 50px;
  padding: -5px;
}

/* .imgs{
  background-image: url(./header_logo.svg) ;
} */

.partOne div{
font-size: small;
text-align: left;
}

.partOnePerson{
  margin-top:20px ;
}

.partFour div{
  font-size: small;
  text-align: left; 
}

.nodelist{
  width: 70px;
  height: 22px;
  float: left;
  border-radius:5px 5px ;
  margin-bottom: 4px;
  /* margin-left: 15px; */
  /* background-color: rosybrown; */
}

.nodeli{
  float: left;
  margin-left: 5px;
}